.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  --primary-color-light: #1fa500;
  --primary-color-dark: #d21c1c;
  --other-color-light: #196308;
  --other-color-dark: #720707;
  --bg-other-color-dark: #420404;
  --bg-other-color-light: #114705;
  --secondary-color-light: #f3f3f3;
  --secondary-color-dark: #231f20;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --black-color: #231f20;
  --black-light-color: #3f3d3e;
  --light-dark-color: #ccc8ca;
  --container-width: sm;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  color: var(--color-text); // Changer ici selon le thème initial
}

body.dark {
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --color-text: var(--color-text-light);

  background: var(--secondary-color-dark);

  --other-color: var(--other-color-dark);
  // --other-color : var(--other-color-dark)
}
body.light {
  --primary-color: var(--primary-color-light);
  --other-color: var(--other-color-light);
  --secondary-color: var(--secondary-color-dark);
  --color-text: var(--color-text-dark);
  background: var(--secondary-color-light);
}
.navbar_link {
  padding: 0 8px;
  display: flex;
  position: relative;
  text-decoration: none;
  color: var(
    --color-text
  ); // Utilise la variable --color-text pour définir la couleur du texte
  align-items: center;

  &:hover::after,
  &.active::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
  }

  &.active {
    color: var(--primary-color);
  }
}

.custom-link {
  color: var(--color-text-title) !important;
  text-decoration: underline; // Ajouter un soulignement
  // Ajouter d'autres styles personnalisés selon vos besoins
}

.custom-link:hover {
  color: var(--color-text) !important; // Changer la couleur au survol
}
